body {
    height: 100vh;
    background: linear-gradient(135deg,#364252 0%,#4A4A4A 50%,#364252 100% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 2vw;
  padding-left: 2vw;
}
h1, h2, h3, h4, h5, label, button, div, input {
  font-family: 'Trebuchet MS', sans-serif;
}
html{
  font-size: 2em;
}
button, input{
  font-size:0.6em;
}
