body {
    height: 100%;
    background-image: url('https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg?cs=srgb&dl=pexels-krisof-1252890.jpg&fm=jpg') !important;
    background: #364252;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-box {
  height:80%;
  width:80%;
  max-width:800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#364252 0%,#4A4A4A 50%,#364252 100%);
  border:2px solid black;
  border-radius: 20px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 2vw;
  padding-left: 2vw;
  margin:20px;
  box-shadow: 0 0 2em rgba(115, 123, 139, 0.4);
}
input, button{
  background-color:#777777;
  border: 1px solid;
  border-radius: 10px;
}
input{
  box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.3);
}
button:hover{
  background-color:white;
  box-shadow: 0 0 1.2em rgba(255, 255, 255, 0.4);
}
h1, h2, h3, h4, h5, label, button, div, input {
  font-family: 'Trebuchet MS', sans-serif;
}
html{
  font-size: 2em;
}
button, input{
  font-size:0.6em;
}
